# Local
# VITE_API_URL="http://localhost:4000/api"
# VITE_SOCKET_URL="http://localhost:4000"

# Production (Render backend URL)
# VITE_API_URL="https://beathub-backend.onrender.com/api"
# VITE_SOCKET_URL="https://beathub-backend.onrender.com"
